@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro);@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../i/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 0.875rem "Open Sans", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.container {
  max-width: 75rem;
  margin: auto;
  padding: 0 0.625rem;
}

.head-title {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

img {
  vertical-align: top;
}

.caption {
  font: 1.25rem "Source Sans Pro", sans-serif;
  text-align: center;
  color: #333b46;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  letter-spacing: 5px;
}

.dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

.dots li {
  display: inline-block;
  text-indent: -9999px;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #19bd9a;
  background: white;
}

.dots li.slick-active {
  background: #19bd9a;
}

.box-grey {
  background-color: #f3f3f3;
}

.top-box {
  position: relative;
  background: url("../i/bgr1.jpg") no-repeat;
  padding-top: 2.5rem;
  padding-left: 3.75rem;
}

.logo-box {
  display: inline-block;
  min-height: 1.25rem;
  background: url("../i/bouncyW.png") no-repeat;
  padding-left: 7.1875rem;
}

.is-mobile .nav-menu {
  display: none;
}

.nav {
  margin: 1rem 0;
}

.nav__item {
  display: block;
  width: 50%;
  z-index: 11;
  font-size: 1rem;
  padding: 0.625rem 0.3125rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3.125rem 3.125rem;
  margin-bottom: 0.3125rem;
  color: #ffffff;
  border: 0.125rem solid #ffffff;
}

.nav__item:focus {
  font-style: italic;
  color: #4a7280;
  border-color: #4a7280;
}

.header {
  width: 90%;
  color: #ffffff;
  top: 0;
  text-align: center;
  padding-top: 1.5625rem;
}

.header__main {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.25rem;
}

.header__content {
  font-size: 1rem;
}

.button {
  margin: 2.1875rem 0 2.1875rem;
}

.switch-menu {
  position: absolute;
  right: 2.5rem;
  width: 2.5rem;
  top: 2.5rem;
  z-index: 10;
  display: none;
}

.is-mobile .switch-menu {
  display: block;
}

.switch-menu span {
  display: block;
  background-color: #ffffff;
  margin-bottom: 0.3125rem;
  height: 0.25rem;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.switch-menu span:last-of-type {
  margin-bottom: 0;
}

.switch-menu.active {
  margin-top: 0.3125rem;
}

.switch-menu.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -0.3125rem;
}

.switch-menu.active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0;
}

.switch-menu.active span:nth-of-type(3) {
  opacity: 0;
}

.content {
  color: #9fa3a9;
  width: 90%;
  text-align: center;
}

.portfolio {
  text-align: center;
  padding: 2.8125rem 0 3.125rem;
}

.portfolio__tab {
  margin: 2.5rem 0 1.5625rem;
}

.portfolio__tab_btn {
  font-size: 1rem;
  text-transform: capitalize;
  margin-right: 1.25rem;
  padding-bottom: 0.3125rem;
  margin-top: 0.625rem;
  border-bottom: 0.125rem solid transparent;
  outline: none;
}

.portfolio__tab_btn:last-of-type {
  margin-right: 0;
}

.portfolio__tab_btn:hover {
  border-bottom: 0.125rem solid #19bd9a;
}

.portfolio__tab_btn:focus {
  border-bottom: 0.125rem solid #19bd9a;
}

.portfolio_gallery {
  min-width: 1200px;
}

.html {
  text-transform: uppercase;
}

.all {
  padding: 0.3125rem;
  width: 16.875rem;
}

/*.branding {
  height: rem(360px);
}
.web {
  height: rem(300px);
}*/
/*.all:after {
      content: '';
      display: block;
      clear: both;
}*/
.slider {
  padding: 1.875rem 0 5rem;
}

.slider__item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 1.875rem;
}

.slider__content {
  text-align: right;
}

.slider__content_name {
  font-size: 1.25rem;
}

.slider__content_position {
  font-family: "Source Sans Pro", sans-serif;
  color: #9fa3a9;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 0.9375rem;
}

.slider__content_text {
  font-size: 0.625rem;
  color: #9fa3a9;
}

.dots {
  bottom: -2.5rem;
}

.top-box__contact {
  background: url("../i/bgr2.jpg") no-repeat;
  padding: 2.8125rem 0 2.8125rem;
  text-align: center;
}

.container__item {
  color: #ffffff;
}

.container__item_main {
  font-size: 1.25rem;
}

.container__item_main span {
  text-transform: capitalize;
}

.container__item_btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.75rem 1.4375rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3.125rem 3.125rem;
  margin-top: 1.875rem;
  color: #ffffff;
  border: 0.125rem solid #ffffff;
}

.testimonials {
  padding: 1.875rem 0 5rem;
}

.slid-auto {
  padding: 1.875rem 2.5rem;
  margin-top: 1.875rem;
  background-color: #ffffff;
}

.testimonials__text {
  color: #9fa3a9;
  font-size: 1rem;
}

.testimonials__name {
  font-weight: bold;
  margin-top: 2.0625rem;
  font-size: 1rem;
  color: #19bd9a;
  text-transform: uppercase;
}

.testimonials__position {
  text-transform: uppercase;
}

.contact {
  padding: 4.375rem 0 4.375rem;
}

.footer {
  padding: 4.375rem 0 4.375rem;
  text-align: center;
}

.footer__logo {
  margin-bottom: 1.5625rem;
}

.footer__text {
  margin-bottom: 2.1875rem;
  color: #9fa3a9;
}

.map {
  height: 440px;
  /**/
}

@media only screen and (min-width: 420px) {
  .header__main {
    margin-bottom: 2.8125rem;
  }
  .button {
    margin: 3.125rem 0 3.125rem;
  }
  .portfolio__tab_btn {
    padding-bottom: 0.625rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 576px) {
  .top-box {
    padding-top: 2.1875rem;
    padding-left: 3.125rem;
  }
  .header {
    padding-top: 3.125rem;
  }
  .header__main {
    margin-bottom: 2.8125rem;
    font-size: 1.5625rem;
  }
  .button {
    margin: 5rem 0 3.125rem;
  }
  .content {
    width: 60%;
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
    line-height: 1.5625rem;
  }
  .portfolio__arena {
    padding-left: 140px;
  }
  .slider__item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .slider__content {
    width: 35%;
    right: 0;
  }
  .slider__content_position {
    margin-bottom: 1.875rem;
  }
  .slider__content_text {
    font-size: 0.75rem;
  }
  .dots {
    bottom: -2.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .portfolio__arena {
    padding-left: 170px;
  }
  .top-box {
    padding-top: 2.5rem;
  }
  .header {
    padding-top: 3.75rem;
  }
  .header__main {
    margin-bottom: 2.8125rem;
    font-size: 2.1875rem;
  }
  .button {
    margin: 6.25rem 0 3.125rem;
  }
  .slider__item {
    margin-top: 1.875rem;
  }
  .slider__content_text {
    font-size: 0.875rem;
  }
  .testimonials {
    padding: 5rem 0 6.25rem;
  }
  .slid-auto {
    padding: 1.875rem 3.125rem;
    margin-top: 2.5rem;
  }
  .slid-auto__item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .slid-auto__item_content {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .top-box {
    padding-top: 3rem;
    padding-left: 6.25rem;
  }
  .top-header {
    text-align: left;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .nav {
    margin: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .nav__item {
    display: inline;
    padding: 0.625rem 1.875rem;
    color: #ffffff;
    border-radius: 3.125rem 3.125rem;
    background: none;
    border: 0.125rem solid transparent;
  }
  .nav__item:hover {
    font-style: normal;
    color: #ffffff;
    border: 0.125rem solid #ffffff;
  }
  .nav__item:focus {
    font-style: italic;
    color: #ffffff;
    border-color: #ffffff;
  }
  .header {
    padding-top: 12.5rem;
  }
  .header__main {
    margin-bottom: 2.8125rem;
  }
  .header__content {
    width: 60%;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .button {
    margin: 13.75rem 0 4.6875rem;
  }
  .portfolio {
    padding: 5.625rem 0 6.25rem;
  }
  .portfolio__tab {
    margin: 5rem 0 3.4375rem;
  }
  .portfolio__tab_btn {
    margin-right: 1.875rem;
    padding-bottom: 0.9375rem;
  }
  .content {
    width: 40%;
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
  .portfolio__arena {
    padding-left: 100px;
  }
  .slider {
    padding: 4.6875rem 0 10rem;
  }
  .slider__item {
    margin-top: 4.0625rem;
  }
  .slider__content_position {
    margin-bottom: 1.875rem;
  }
  .dots {
    bottom: -5rem;
  }
}

@media only screen and (min-width: 992px) {
  .portfolio__arena {
    padding-left: 77px;
  }
}
